<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login - istyle Central Login</title>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="/assets/css/bulma.min.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
</head>

<body onload="if (document.getElementById('username')) document.getElementById('username').focus()">
    <section class="hero is-success is-fullheight">
        {{ range $m := .Messages }}
        <article class="message is-primary">
            <div class="message-header">
                <p>Message</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                {{ $m }}
            </div>
        </article>
        <br/> {{ end }} {{ range $m := .Errors }}
        <article class="message is-danger">
            <div class="message-header">
                <p>Error</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                {{ $m }}
            </div>
        </article><br/> {{ end }}
        <div class="hero-body">
            <div class="container has-text-centered">
                {{ if not .LoggedIn }}
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">istyle Central Login</h3>
                    <p class="subtitle has-text-grey">Please login to proceed.</p>
                    <div class="box">
                        <form method="post" action="/login">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" name="username" type="text" placeholder="Your User Name" autofocus="" tabindex="1" accesskey="u"
                                        value="{{ .UserName }}">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name="password" placeholder="Your Password" tabindex="2" accesskey="p" autocomplete="off"
                                        value="{{ .Password }}">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <input type="hidden" name="lt" value="{{ .LoginTicket }}">
                            <input type="hidden" name="service" value="{{ .Service }}">
                            <button class="button is-block is-info is-large is-fullwidth">Login</button>
                        </form>
                    </div>
                </div>
                {{ else }}
                <img src="/assets/images/success.jpg" alt=""> {{ end }}
            </div>
        </div>
    </section>
</body>

</html>